<h1>Gerenciador de conteudo</h1>

<a href="http://localhost:8080/Filmes/?pagina=admin&metodo=create">Novo Filme</a><br>
<br>
<hr></hr>
<br>
<table  class="table table-hover" >
    <tr class="table-dark">
        <th>ID</th>
        <th>TÍtulo</th>
        <th>Alteração</th>
        <th>Delete</th>
    </tr>
    {% for postagem in filmes %}  
    <tr>
        <th>{{postagem.id}}</th>
        <th>{{postagem.titulo}}</th>
        <th><a href="http://localhost:8080/Filmes/?pagina=admin&metodo=change&id={{postagem.id}}">ALTERAÇÃO</a></th>
        <th><a href="http://localhost:8080/Filmes/?pagina=admin&metodo=delete&id={{postagem.id}}">DELETE</a></th>
    </tr>
    {% endfor %}  
</table>