<h1>Novo Filme</h1>
<form method="post" enctype="multipart/form-data" action="?pagina=admin&metodo=insert">
    <span>Título:</span><br>
    <input type="text" name="titulo"><br><br>

    <span>Capa do filme:</span><br>
    <input type="file" name="capa"><br><br>

    <span>Ano:</span><br>
    <input type="text" name="ano"><br><br>

   <span>Diretor:</span><br>
    <input type="text" name="diretor"><br><br>
    
    <span>Avaliação:</span><br>
    <input type="number" maxlength="10" name="avaliacao"><br><br>

    <input type="submit" value="Cadastrar">

</form>