<section>     
    <h1>Filmes com destaques:</h1>
    {% for postagem in filmes %} 
    {% if postagem.avaliacao >= 8 and temperature <= 10 %}
    <div class="home"> 
    <article>
        <header>
           <h2><a href="http://localhost:8080/Filmes/?pagina=post&id={{postagem.id}}">{{postagem.titulo}}</a></h2> 
        </header>
        <img src="./arquivo/{{postagem.id}}/{{postagem.capa}}"></img>
        <p>Ano: {{postagem.ano}}</p>
        <p>Diretor: {{postagem.diretor}}</p>
        <p>Avaliação: {{postagem.avaliacao}}</p>
        
    </article> 
</div>
    {% endif %}
    {% endfor %}  
          
</section>