<section>     
    <h1>Filmes:</h1>
    {% for postagem in filmes %}  
    <div class="home">     
    <article>
        <header>
           <h2><a href="http://localhost:8080/Filmes/?pagina=post&id={{postagem.id}}">{{postagem.titulo}}</a></h2> 
        </header>
        <p>Imagem: {{postagem.capa}}</p>
        <p>Ano: {{postagem.ano}}</p>
        <p>Diretor: {{postagem.diretor}}</p>
        <p>Avaliação: {{postagem.avaliacao}}</p>
        
        
    </article>
    
</div> 
    {% endfor %}             
          
</section>

