<h1>Alterações</h1>
<form method="post" enctype="multipart/form-data" action="?pagina=admin&metodo=update">
    <span>Título:</span><br>
    <input type="text" name="titulo" value="{{titulo}}"><br><br>

    <span>Capa do filme:</span><br>
    <input type="file" name="capa" value={{capa}}><br><br>

    <span>Ano:</span><br>
    <input type="text" name="ano" value={{ano}}><br><br>

   <span>Diretor:</span><br>
    <input type="text" name="diretor" value={{diretor}}><br><br>
    
    <span>Avaliação:</span><br>
    <input type="number" maxlength="10" name="avaliacao" value={{avaliacao}}><br><br>

    <input type="hidden" name="id" value="{{id}}">

    <input type="submit" value="Alterar">

</form>